.page-winner {
    .container {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .main-content {
        max-width: 940px;
        min-height: 630px;
        z-index: 2;
        margin: 0 auto;
        position: relative;
        padding: 0 10px 115px;
        @include screen( large ) {
            padding: 0 0 115px;
        }

        .heading {
            background: url('../images/winner/heading.png') center center no-repeat;
            background-size: 100% 100%;
            width: 100%;
            height: 114px;
            margin: 40px auto;
            max-width: 300px;
            text-indent: -9999px;
            position: relative;
            z-index: 2;
            @include screen( medium ) {
                height: 163px;
                margin: 0 auto;
                max-width: 429px;
            }
        }
        .prize {
            width: 100%;
            padding: 10px 5px;
            position: relative;
            background-color: rgba( 255, 255, 255, 0.9 );
            @include border-radius( 12px, 12px, 12px, 12px );
            @include screen( small ) {
                padding: 10px 15px;
            }
            @include screen( large ) {
                padding: 20px 25px;
            }
            &.prize-1 {
                margin-top: -30px;
                h3 {
                    background: url('../images/winner/heading--prize-1.png') center center no-repeat;
                    background-size: 100% 100%;
                    width: 100%;
                    height: 167px;
                    margin: 0 auto;
                    max-width: 233px;
                    @include screen( medium ) {
                        top: -25px;
                        left: -10px;
                        height: 129px;
                        max-width: 180px;
                    }
                    @include screen( large ) {
                        top: -55px;
                        left: -100px;
                        height: 167px;
                        max-width: 233px;
                    }
                }
            }
            &.prize-2 {
                margin-top: 25px;

                h3 {
                    background: url('../images/winner/heading--prize-2.png') center center no-repeat;
                    background-size: 100% 100%;
                    width: 100%;
                    height: 116px;
                    max-width: 154px;
                    margin: 0 auto;
                    @include screen( medium ) {
                        height: 94px;
                        max-width: 125px;
                        left: 15px;
                    }
                    @include screen( large ) {
                        top: 0;
                        left: 75px;
                        height: 116px;
                        max-width: 154px;
                    }
                }
            }

            h3 {
                display: block;
                text-indent: -9999px;
                @include screen( medium ) {
                    position: absolute;
                }
            }
            .wrap-winner-list {
                height: 250px;
                padding: 0 200px 0 200px;
            }
            .winner-list {
                padding: 0;
                margin: 0 auto;
                list-style: none;
                @include screen( medium ) {
                    margin: 25px auto 0;
                }

                li {
                    float: left;
                    display: block;
                    width: 33.3333%;
                    text-align: center;

                    .inner {
                        margin: 0 auto;
                        &.type-1 {
                            background: url('../images/winner/bg-winner-1.png') center center no-repeat;
                            background-size: 100% 100%;
                            width: 100%;
                            height: 179px;
                            max-width: 180px;

                            .wrap-img {
                                position: relative;
                                top: 45px;
                                left: 5px;
                            }
                        }
                        &.type-2 {
                            background: url('../images/winner/bg-winner-2.png') center center no-repeat;
                            background-size: 100% 100%;
                            width: 100%;
                            height: 178px;
                            max-width: 181px;

                            .wrap-img {
                                position: relative;
                                top: 45px;
                                left: 0;
                            }
                        }
                        &.type-3 {
                            background: url('../images/winner/bg-winner-3.png') center center no-repeat;
                            background-size: 100% 100%;
                            width: 100%;
                            height: 178px;
                            max-width: 180px;

                            .wrap-img {
                                position: relative;
                                top: 45px;
                                left: 5px;
                            }
                        }

                        .wrap-img {
                            max-width: 100px;
                            max-height: 100px;
                            border: 5px solid #0086d0;
                            margin: 0 auto;
                            overflow: hidden;
                            position: relative;
                            cursor: pointer;
                            @include border-radius( 50%, 50%, 50%, 50% );

                            img {
                                width: 100%;
                            }
                        }
                        .icon-play {
                            background: url('../images/winner/icon-play-small.png') no-repeat;
                            width: 23px;
                            height: 27px;
                            margin-top: -13px;
                            margin-left: -11px;
                            @include ab( 50%, 50%, n, n );
                        }
                    }

                    span {
                        display: block;
                        text-align: center;
                        position: relative;
                        line-height: normal;
                        bottom: 30px;
                        &.user-name {
                            color: #ff0000;
                            font-size: 23px;
                            font-weight: bold;
                            font-family: $font-uvn;
                        }
                        &.song-name {
                            color: #4a8d47;
                            font-size: 21px;
                        }
                    }
                }
            }
        }
    }
    .grass {
        background: url('../images/winner/grass.png') center center no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 85px;
        max-width: $page-width;
        z-index: 2;
        @include ab( n, 0, 48px, n );
    }
    .kid {
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        &.kid-1 {
            left: 0%;
            max-width: 200px;
            @include screen( large ) {
                left: -15%;
                max-width: 282px;
            }
        }
        &.kid-2 {
            right: 0%;
            max-width: 180px;
            @include screen( large ) {
                right: -15%;
                max-width: 234px;
            }
        }
    }
}
