@font-face {
    font-family: 'UVNVan';
    src: url('../fonts/UVNVan_R.eot');
    src: url('../fonts/UVNVan_R.eot') format('embedded-opentype'), url('../fonts/UVNVan_R.woff2') format('woff2'), url('../fonts/UVNVan_R.woff') format('woff'), url('../fonts/UVNVan_R.ttf') format('truetype'), url('../fonts/UVNVan_R.svg#UVNVan_R') format('svg');
}

@font-face {
    font-family: 'UVNVan';
    src: url('../fonts/UVNVan_B.eot');
    src: url('../fonts/UVNVan_B.eot') format('embedded-opentype'), url('../fonts/UVNVan_B.woff2') format('woff2'), url('../fonts/UVNVan_B.woff') format('woff'), url('../fonts/UVNVan_B.ttf') format('truetype'), url('../fonts/UVNVan_B.svg#UVNVan_B') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'SFUFutura';
    src: url('../fonts/SFUFuturaBold.eot');
    src: url('../fonts/SFUFuturaBold.eot') format('embedded-opentype'), url('../fonts/SFUFuturaBold.woff2') format('woff2'), url('../fonts/SFUFuturaBold.woff') format('woff'), url('../fonts/SFUFuturaBold.ttf') format('truetype'), url('../fonts/SFUFuturaBold.svg#SFUFuturaBold') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'SFUFutura';
    src: url('../fonts/SFUFuturaBook.eot');
    src: url('../fonts/SFUFuturaBook.eot') format('embedded-opentype'), url('../fonts/SFUFuturaBook.woff2') format('woff2'), url('../fonts/SFUFuturaBook.woff') format('woff'), url('../fonts/SFUFuturaBook.ttf') format('truetype'), url('../fonts/SFUFuturaBook.svg#SFUFuturaBook') format('svg');
}
