/*
** BUTTONS
** Please use btn- as your CSS class prefix
*/
.button {
    text-decoration: none;
    display: block;
    border: none;
    position: relative;
}
.button--submit {
	width: 239px;
	height: 66px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	line-height: 66px;
	text-align: center;
    padding-left: 20px;
    text-transform: uppercase;
	background: url('../images/modal/btn-submit.png') no-repeat;

    .icon {
        background: url('../images/icons/icon-submit-video.png') no-repeat;
        width: 44px;
        height: 45px;
        @include ab ( 10px, 15px, n, n );
    }
}
.button--send-now {
	color: #fff;
	width: 135px;
	height: 38px;
	font-size: 14px;
	line-height: 35px;
	text-align: center;
	background: url('../images/button/button--send-now.png') no-repeat;
}
.button--facebook {
	background: url('../images/modal/btn-facebook.png') center center no-repeat;
    background-size: 100% 100%;
    width: 100%;
    max-width: 253px;
    height: 92px;
    padding: 22px 20px 22px 65px;

    .icon {
    	background: url('../images/icons/facebook.png') no-repeat;
    	width: 48px;
    	height: 50px;
    	@include ab ( 20px, 30px, n, n );
    }
}
.button--gmail {
	background: url('../images/modal/btn-google.png') center center no-repeat;
    background-size: 100% 100%;
    width: 100%;
    max-width: 234px;
    height: 95px;
    padding: 22px 20px 22px 65px;

    .icon {
    	background: url('../images/icons/gmail.png') no-repeat;
    	width: 48px;
    	height: 50px;
    	@include ab ( 20px, 30px, n, n );
    }
}
.button--love {
    width: 150px;
    height: 54px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 47px;
    text-align: center;
    margin-top: 5px;
    padding-left: 20px;
    text-transform: uppercase;
    background: url('../images/modal/btn-love.png') no-repeat;


    .icon {
        background: url('../images/icons/icon-heart.png') no-repeat;
        width: 28px;
        height: 25px;
        @include ab ( 13px, 12px, n, n );
    }
}