/*
** HEADER
*/

header {
	background-color: #fff;
	position: relative;
	z-index: 2;

	.container {
		position: relative;
	}

	h1 {
		@include ab( 0, 0, n, n );
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.logo {
		width: 143px;
		height: 123px;
		display: block;
		text-indent: -99999px;
		background: url('../images/global/logo.png') no-repeat;
	}
	.main-nav {
		padding-left: 15%;

		>li {
			float: left;
			padding: 20px 15px;
			position: relative;
			&:first-child {
				padding-left: 0;
			}
			&:hover, &.active {
				>a {
					color: #ff0019;
				}
			}
			&.user-name {
				padding: 7px 15px;

				img {
					float: left;
				}
				>a {
					float: right;
					color: #00a69a;
					margin-left: 10px;
					font-weight: normal;
					line-height: normal;
					background: url('../images/icons/icon-arrow-up.png') 100% 90% no-repeat;

					strong {
						display: block;
					}
				}
			}
			&.show-sub-menu {
				&:hover {
					>a {
						background: url('../images/icons/icon-arrow-down.png') 100% 90% no-repeat;
					}
					.sub-menu {
						display: block;
					}
				}
			}

			>a {
				display: block;
				color: #0093e7;
				font-size: 15px;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
	.sub-menu {
		width: 100%;
		background-color: #fff;
		@include ab( 58px, 0, n, n );
		display: none;

		li {
			padding: 0 20px;
		}
		a {
			display: block;
			color: #00a69a;
			padding: 10px 0;
			font-size: 20px;
		}
	}
}
