.modal {
    width: 100%;
    margin: 0 auto;
    position: relative;

    .btn-close {
        background: url('../images/icons/icon-close.png') no-repeat;
        width: 34px;
        height: 34px;
        display: block;
        position: absolute;
        top: -40px;
        right: 0;
        z-index: 5;
        text-indent: -100000px;
        @include screen( medium ) {
            top: -18px;
            right: -20px;
        }
    }
}

/* .modal--about-us {
    .title {
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 20px;
    }
    h3 {
        text-transform: uppercase;
    }
    ul {
        list-style: none;
        margin-top: 30px;
    }
    .pos-img {
        background: url('../images/list-test/img-kid-talent-small.png') no-repeat;
        width: 144px;
        height: 158px;
        display: block;
        position: absolute;
        bottom: -15px;
        right: -68px;
    }
} */

.modal--signin, .modal--signup, .modal--edit-profile {
    background: url('../images/modal/bg-signin-signup-mobile.png') center center no-repeat;
    background-size: 100% 100%;
    width: 100%;
    margin-top: 60px;
    padding: 0 10px;
    @include screen(small) {
        height: 511px;
        max-width: 640px;
    }
    @include screen(medium) {
        background: url('../images/modal/bg-signin-signup.png') center center no-repeat;
        background-size: 100% 100%;
        width: 100%;
        padding: 0;
        height: 436px;
        max-width: 726px;
    }

    .heading-top {
        background: url('../images/modal/heading-signin-signup.png') center center no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 114px;
        max-width: 300px;
        margin: 0 auto;
        position: relative;
        top: -30px;
        text-indent: -99999px;
        @include screen(small) {
            height: 171px;
            max-width: 450px;
            top: -60px;
        }
        @include screen(medium) {
            height: 199px;
            max-width: 524px;
            top: -90px;
        }
    }
    .inner {
        top: -10px;
        position: relative;
        @include screen(small) {
            top: -50px;
        }
        @include screen(medium) {
            padding-right: 10px;
            top: -90px;
        }

        p {
            color: #000;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            margin: 0 0 10px;
        }
        .form_field {
            margin: 0 auto;
            max-width: 335px;
            text-align: center;
            padding-bottom: 5px;
            &.form_field--checkbox {
                padding-bottom: 0;

                label {
                    line-height: 18px;
                    position: relative;
                    top: -4px;
                }
            }

            label {
                color: #959595;
                font-size: 12px;
                line-height: 25px;
                width: auto;
                display: inline-block;
            }
        }
        .form_action {
            margin: 10px auto 0;
            max-width: 500px;
            text-align: center;
            /* .button--upload {
                margin-left: 30%;
            } */
            .button {
                float: right;
                color: #fff;
                font-size: 14px;
                display: block;
                text-transform: uppercase;
                line-height: normal;
                &:first-child {
                    float: left;
                }
                @include screen(medium) {
                    font-size: 12px;
                }
            }
            .link {
                color: #040404;
                font-size: 14px;
                display: inline-block;
                padding-left: 10px;
                &:first-child {
                    padding-left: 0;
                    padding-right: 10px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .or {
            margin: 0 auto 5px;
            max-width: 335px;
            font-weight: bold;
            text-align: center;
            position: relative;
            font-size: 14px;
            color: #959595;

            &:before {
                content: '';
                height: 1px;
                width: 45px;
                background-color: #959595;
                @include ab ( 8px, 0, n, n );
                @include screen( medium ) {
                    width: 65px;
                }
            }
            &:after {
                content: '';
                height: 1px;
                width: 45px;
                background-color: #959595;
                @include ab ( 8px, n, n, 0 );
                @include screen( medium ) {
                    width: 65px;
                }
            }
        }
        /* .row {
            margin: 0 auto;
            max-width: 500px;

            .form_action {
                float: right;
                text-transform: uppercase;
                font-size: 14px;
                &:first-child {
                    float: left;
                }
            }
        } */
        .figure {
            margin-top: -186px;
            @include ab( 30%, -30%, n, n );
            &.figure--signin {
                top: auto;
                bottom: 0;
                margin-top: 0;
            }
        }
        .button--submit {
            background: url('../images/modal/btn-signin-signup.png') center center no-repeat;
            background-size: 100% 100%;
            width: 100%;
            max-width: 180px;
            height: 101px;
            color: #fff;
            font-size: 14px;
            text-align: center;
            line-height: normal;
            font-weight: bold;
            font-family: $font-sfu;
            text-transform: uppercase;
            padding: 30px 20px 30px 35px;
            margin-top: 60px;
            margin-left: -90px;
            @include ab( n, 50%, -100px, n );
            @include screen( medium ) {
                left: auto;
                bottom: auto;
                margin-left: 0;
                max-width: 217px;
                height: 122px;
                font-size: 16px;
                padding: 35px 20px 35px 65px;
                @include ab( 0, n, n, -20px );
            }
            &:hover {
                background: url('../images/modal/btn-signin-signup-hover.png') center center no-repeat;
                height: 126px;
            }

            .icon {
                background: url('../images/icons/icon-submit.png') center center no-repeat;
                background-size: 100% 100%;
                width: 30px;
                height: 32px;
                @include ab ( 40px, 15px, n, n );
                @include screen( medium ) {
                    width: 48px;
                    height: 51px;
                    top: 40px;
                    left: 20px;
                }
            }
        }
    }
}

.modal--signin {
    .heading-top {
        top: -40px;
    }
    .inner {
        top: -20px;

        .form_field {
            &.form_field--checkbox {
                padding-bottom: 5px;
            }
        }
        .form_action {
            max-width: 515px;
            margin: 0 auto;
            &.form_action--two-button {
                margin: 15px auto 0;
            }

            .button--login {
                line-height: 90px;
                padding-left: 30px;
            }
        }
        .or {
            margin: 15px auto 0;
            &:before, &:after {
                width: 65px;
            }
            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }
        }
        .button--submit {
            line-height: 54px;
            margin-top: 0;
            @include screen( medium ) {
                margin-top: 10px;
            }
        }
    }
}

.modal--edit-profile {
    background: url('../images/modal/bg-edit-profile-mobile.png') center center no-repeat;
    background-size: 100% 100%;
    width: 100%;
    padding: 0 10px;
    @include screen(small) {
        height: 708px;
        max-width: 640px;
    }
    @include screen(medium) {
        background: url('../images/modal/bg-edit-profile.png') center center no-repeat;
        background-size: 100% 100%;
        max-width: 900px;
        height: 544px;
        padding: 0;
    }

    .inner {
        .form_field {
            padding-bottom: 10px;
        }
        .figure {
            left: -10%;
        }
        .button--submit {
            @include screen(medium) {
                right: 30px;
            }
        }
    }
    .btn-close {
        top: -40px;
        right: 0;
        @include screen( medium ) {
            top: -20px;
            right: 0;
        }
    }
}

.modal--submit-video {
    background: url('../images/modal/bg-submit-video-mobile.png') center center no-repeat;
    background-size: 100% 100%;
    height: 632px;
    max-width: 640px;
    margin-top: 50px;
    @include screen( small ) {
        background: url('../images/modal/bg-submit-video.png') center center no-repeat;
        background-size: 100% 100%;
        max-width: 800px;
        height: 577px;
    }
    @include screen( medium ) {
        margin-top: 20px;
    }

    .heading-top {
        background: url('../images/modal/heading-detail.png') center center no-repeat;
        background-size: 100% 100%;
        width: 100%;
        max-width: 308px;
        height: 122px;
        text-indent: -9999px;
        margin: -50px auto 0;
        @include screen( small ) {
            margin: 0 auto;
            @include ab( -30px, 90px, n , n );
        }
    }
    .inner {
        padding: 25px 10px 0 50px;
        @include screen( small ) {
            padding: 100px 50px 0 95px;
        }
        @include screen( medium ) {
            padding: 100px 310px 0 125px;
        }

        .step {
            .content_title {
                color: #003876;
                font-size: 14px;
                font-weight: bold;
                font-family: $font-uvn;
                text-align: left;
                text-transform: uppercase;
                padding-bottom: 15px;
                @include screen( small ) {
                    font-size: 16px;
                }
                @include screen( medium ) {
                    font-size: 18px;
                }
            }
        }
        /* .form {
            padding-left: 25px;
        } */
        .form_field {
            margin-bottom: 10px;
            &.type-big {
                span {
                    text-transform: uppercase;
                }
            }

            label {
                color: #003876;
                font-size: 18px;
                float: left;
                line-height: 26px;
            }
            .input-text.input-text-1 {
                max-width: 340px;

                input {
                    color: #003876;
                    text-align: left;
                    font-family: $font-sfu;
                }
            }
        }
        .form_action {
            .button--submit {
                margin: 0 auto;
            }
        }
        .row {
            max-width: 360px;
            .form_field {
                @include screen ( medium ) {
                    float: right;
                    width: 35%;
                }
                &:first-child {
                    @include screen ( medium ) {
                        float: left;
                        width: 62%;
                    }
                }
            }
            .noted {
                color: #fff;
                font-size: 14px;
                margin: 10px 0 0;
                font-style: italic;
            }
            .process-bar {
                width: 100%;
                height: 16px;
                overflow: hidden;
                margin-top: 15px;
                background-color: #f2f2f2;
                position: relative;
                @include border-radius ( 3px, 3px, 3px, 3px );

                .bar {
                    height: 100%;
                    display: block;
                    background-color: #0093e7;
                }
                .bar_text {
                    font-size: 11px;
                    color: #003876;
                    @include ab ( -2px, 3px, n , n );
                }
            }
        }
        .figure--submit-video {
            @include ab ( 40px, n, n, 0 );
        }
    }
    .btn-close {
        top: -40px;
        right: 0;
        @include screen( medium ) {
            top: -20px;
            right: 0;
        }
    }
}

.modal_title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.modal--video-detail {
    margin-top: 80px;
    /* @include screen( medium ) {
        margin-top: 20px;
    } */
    &.type-1 {
        background: url('../images/modal/bg-details-1.png') center center no-repeat;
        background-size: 100% 100%;
        max-width: 900px;
        height: 592px;
    }
    &.type-2 {
        background: url('../images/modal/bg-details-2.png') center center no-repeat;
        background-size: 100% 100%;
        max-width: 1000px;
        height: 548px;

        .btn-close {
            top: 5%;
            right: 10%;
        }
        .heading-top {
            margin: -30px auto 0;
            @include screen( medium ) {
                top: -30px;
                margin-left: 100px;
            }
        }
        .inner {
            top: -30px;
            padding: 0 280px 0 200px;
        }
        .info {
            color: #003475;
            margin-top: 10px;
            font-family: $font-uvn;
        }
        .info_social {
            .button--facebook--small {
                right: 15px;
            }
        }
    }

    .btn-close {
        top: 5%;
        right: 0;
    }
    .heading-top {
        background: url('../images/modal/heading-detail.png') center center no-repeat;
        background-size: 100% 100%;
        width: 100%;
        max-width: 308px;
        height: 122px;
        text-indent: -9999px;
        margin: -40px auto 0;
        @include screen( medium ) {
            margin-left: 300px;
            position: relative;
            top: -40px;
        }
    }
    .inner {
        padding: 0 75px 0 275px;
        position: relative;
        top: -40px;

        .arrow {
            width: 25px;
            height: 45px;
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -23px;
            &.arrow-prev {
                background: url('../images/icons/icon-prev.png') center center no-repeat;
                left: -8%;
            }
            &.arrow-next {
                background: url('../images/icons/icon-next.png') center center no-repeat;
                right: -8%;
            }
        }
    }
    .info {
        color: #fff;
        margin-top: 15px;
        font-family: $font-uvn;
    }
    .info_user {
        font-size: 12px;
        text-align: center;
        line-height: normal;
        display: block;
        text-transform: uppercase;
        @include screen ( medium ) {
            width: 40%;
            float: left;
        }

        .username {
            display: block;
            font-size: 16px;
            font-weight: bold;
        }
    }
    .info_score {
        text-align: center;
        line-height: normal;
        display: block;
        text-transform: uppercase;
        @include screen ( medium ) {
            width: 22%;
            float: left;
            border-left: 1px solid #003876;
            border-right: 1px solid #003876;
        }

        .title {
            font-size: 16px;
            display: block;
        }
        strong {
            font-size: 40px;
            line-height: 0.8em;
        }
    }
    .info_social {
        display: block;
        padding-left: 10px;
        @include screen ( medium ) {
            width: 38%;
            float: right;
        }

        .title {
            font-size: 14px;
            display: block;
            text-align: center;
            line-height: normal;
        }
        .social {
            margin: 0;
            position: relative;
        }
        .button--facebook--small {
            background: url('../images/icons/icon-facebook.png') no-repeat;
            width: 21px;
            height: 21px;
            text-decoration: none;
            text-indent: -9999px;
            @include ab( 5px, n, n, 0 );
        }
    }
}

.mfp-close-btn-in .mfp-close {
    display: none;
}

.mfp-bg {
    background: rgba( 33, 230, 248, 0.9 );
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    /* overflow: hidden; */
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.remodal {
    padding: 0;
}

.remodal-overlay {
    z-index: 1040;
    background: rgba( 33, 230, 248, 0.9 );
}

.remodal-wrapper {
    z-index: 1041;
}

.mfp-container {
    padding: 0;
    @include screen(medium) {
        padding: 0 6px;
    }
}

.remodal-wrapper {
    padding: 0;
    @include screen(medium) {
        padding: 10px 10px 0;
    }
}
